:root {
  text-rendering: optimizeLegibility;
  background: #f4f4f4;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
}

canvas {
  cursor: pointer;
}
